@import '_helpers',
        '_bb8_main',
        '_head',
        '_media_query';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hints {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .hint-text {
    width: 100%;
    text-align: center;
    color: $dark-gray;
    font-size: 1.4rem;
    font-family: Tahoma, Verdana, sans-serif;
  }
  i {
    display: block;
    font-size: 2rem;
    color: $shadow-gray;
    margin: 0.5rem 20%;
  }
}

.ground {
  width: 100%;
  height: 2rem;
  position: relative;
  background: linear-gradient(to right, #90684b, #caa488 30%, #b3896a, #caa488 30%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  &:after, &.animate span {
    content: "";
    width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-size: 5rem 5rem;
    border-radius: 0.5rem 1.25rem 1.25rem 0.5rem;
  }
  &.move-right {
    &:after, &.animate span {
      animation: moveRight 1s linear infinite;
    }
  }
  &.move-left {
    &:after, &.animate span {
      animation: moveLeft 1s linear infinite;
    }
  }
  &.animate:after {
    display: none;
  }
}
