@keyframes bounceRight {
	0%, 100% { top: -0.3rem; transform: rotate(0deg); left: 0; }
  20% { top: 0.7rem; transform: rotate(-11deg); left: -2rem; }
	50% { top: 0.7rem; transform: rotate(-15deg); left: -3rem; }
  70% { top: 0.7rem; transform: rotate(-11deg); left: -2rem; }
  90% { top: 0.5rem; transform: rotate(-6deg); left: -0.5rem; }
}

@keyframes bounceLeft {
	0%, 100% { top: -0.3rem; transform: rotate(0deg); left: 0;}
  20% { top: 0.7rem; transform: rotate(11deg); left: 2rem; }
	50% { top: 0.7rem; transform: rotate(15deg); left: 3rem; }
  70% { top: 0.7rem; transform: rotate(11deg); left: 2rem; }
  90% { top: 0.5rem; transform: rotate(6deg); left: 0.5rem; }
}

@keyframes moveLeft {
	0% { background-position: 0 0; }
  100% { background-position: 5rem 5rem; }
}

@keyframes moveRight {
	0% { background-position: 5rem 5rem; }
  100% { background-position: 0 0; }
}

@keyframes rollRight {
  from { transform: rotate(10deg); }
  to { transform: rotate(370deg); }
}

@keyframes rollLeft {
  from { transform: rotate(10deg); }
  to { transform: rotate(-350deg); }
}

%circle {
  border-radius: 50%;
  position: relative;
}

$orange: #e88250;
$gray: #cccccc;
$dark-gray: #b1b1b1;
$shadow-gray: #858585;
$light-shadow-gray: #dcdcdc;
$white: #ffffff;
$black: #000000;

$main-border: 0.175rem solid $gray;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hints {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .hint-text {
    width: 100%;
    text-align: center;
    color: $dark-gray;
    font-size: 1.4rem;
    font-family: Tahoma, Verdana, sans-serif;
  }
  i {
    display: block;
    font-size: 2rem;
    color: $shadow-gray;
    margin: 0.5rem 20%;
  }
}

.ground {
  width: 100%;
  height: 2rem;
  position: relative;
  background: linear-gradient(to right, #90684b, #caa488 30%, #b3896a, #caa488 30%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  &:after, &.animate span {
    content: "";
    width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-size: 5rem 5rem;
    border-radius: 0.5rem 1.25rem 1.25rem 0.5rem;
  }
  &.move-right {
    &:after, &.animate span {
      animation: moveRight 1s linear infinite;
    }
  }
  &.move-left {
    &:after, &.animate span {
      animation: moveLeft 1s linear infinite;
    }
  }
  &.animate:after {
    display: none;
  }
}

.bb8 {
  position: relative;
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  align-items: center;
}

.top-part {
  position: relative;
  z-index: 10;
  &.move-right {
    animation: bounceRight 2s ease-out infinite;
  }
  &.move-left {
    animation: bounceLeft 2s ease-out infinite;
  }
}

.antenna {
  position: absolute;
  top: -1.5rem;
  width: 0.125rem;
  &.short {
    height: 2rem;
    width: 0.2rem;
    left: 4.5rem;
    background-color: $dark-gray;
  }
  &.long {
    left: 5.5rem;
    top: -2.8rem;
    height: 3.5rem;
    background-color: $shadow-gray;
  }
}

.head {
  position: relative;
  top: 0.5rem;
  width: 9rem;
  height: 5rem;
  overflow: hidden;
  border-bottom: $main-border;
  .head-circle {
    @extend %circle;
    width: 9rem;
    height: 10rem;
    overflow: hidden;
    border: $main-border;
    box-shadow: inset 0 0 1rem 0.2rem $light-shadow-gray;
    .head-top-lines {
      margin-top: 0.4rem;
      height: 0.85rem;
      width: 100%;
      border-top: 0.4rem solid $dark-gray;
      border-bottom: 0.25rem solid $orange;
    }
    .eye-circle {
      @extend %circle;
      width: 1.1rem;
      height: 1.1rem;
      margin: 0.4rem auto 0.5rem;
      background-color: $gray;
      box-shadow: 0 0 0 0.5rem $black, 0 0 0 0.675rem $shadow-gray, 0 0 0 0.875rem $white;
      .eye-inner.circle {
        @extend %circle;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.3rem;
        height: 1.3rem;
        background-color: $black;
        margin: -0.45rem 0 0 -0.65rem;
      }
    }
    .right-circle {
      @extend %circle;
      width: 0.8rem;
      height: 0.8rem;
      float: right;
      left: -2rem;
      top: -0.3rem;
      background-color: $black;
      box-shadow: 0 0 0 0.0815rem $white, 0 0 0 0.2rem $shadow-gray;
    }
    .bottom-row-details {
      width: 100%;
      display: flex;
      position: relative;
      top: -0.175rem;
      .rect {
        background-color: $orange;
        border: 0.0625rem solid $gray;
        height: 0.8rem;
        margin-right: 0.4rem;
        &.narrow {
          width: 0.4rem;
        }
        &.wide {
          width: 1.3rem;
        }
        &.short {
          height: 0.5rem;
          width: 0.5rem;
          margin-left: 1.2rem;
          display: flex;
          align-self: flex-end;
        }
      }
      .small.circle {
        width: 0.3rem;
        height: 0.3rem;
        margin: 0.2rem 1rem 0;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $gray, 0 0 0 3px $white, 0 0 0 5px $gray;
      }
    }
  }
}

.head-bottom {
  position: relative;
  top: 0.5rem;
  width: 9rem;
  height: 1.2rem;
  overflow: hidden;
  z-index: 10;
  .head-bottom-inner {
    width: 9.5rem;
    height: 8rem;
    position: absolute;
    border-radius: 50%;
    background-color: $dark-gray;
    top: -440%;
    left: -2.5%;
  }
}

.sphere {
  @extend %circle;
  width: 16rem;
  height: 16rem;
  display: flex;
  flex-wrap: wrap;
  transform: rotate(10deg);
  border: $main-border;
  overflow: hidden;
  box-shadow: inset 0 0 2rem 0.6rem $light-shadow-gray;
  &.move-right {
    animation: rollRight 1.5s linear infinite;
  }
  &.move-left {
    animation: rollLeft 1.5s linear infinite;
  }
}

.part {
  width: 50%;
  height: 50%;
  position: relative;
  &.left {
    border-right: $main-border;
  }
  &.top {
    border-bottom: $main-border;
  }
  &:before, &:after {
    position: absolute;
    content: "\25CB";
    color: $dark-gray;
  }
  &.top.left:before {
    top: 30%;
    left: 73%;
  }
  &.top.left:after {
    top: 70%;
    left: 35%;
  }
  &.top.right:before {
    top: 30%;
    left: 18%;
  }
  &.top.right:after {
    top: 70%;
    left: 60%;
  }
  &.bottom.left:before {
    top: 55%;
    left: 73%;
  }
  &.bottom.left:after {
    top: 13%;
    left: 35%;
  }
  &.bottom.right:before {
    top: 55%;
    left: 18%;
  }
  &.bottom.right:after {
    top: 13%;
    left: 60%;
  }
}

.center {
  border: 0.5125rem solid $orange;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 24%;
  color: $gray;
}

.semi-circle {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 0.175rem solid $orange;
  position: absolute;
  background-color: $white;
  &.top {
    top: -30%;
    left: 27%;
  }
  &.right {
    top: 28%;
    left: 85%;
  }
  &.bottom {
    top: 85%;
    left: 27%;
  }
  &.left {
    top: 28%;
    left: -30%;
  }
}

@media (max-height: 500px) {
  .hints {
    width: 30%;
    .hint-text {
      font-size: 1.3rem;
    }
    i {
      margin: 0.5rem 5%;
      font-size: 1.5rem;
    }
  }
}
